# 列表的常用方法

In [2]:
# list 中添加元素
a = [1,12,2,3,5,6]
a.append('liyuan')
print(a)

[1, 12, 2, 3, 5, 6, 'liyuan']

In [4]:
# 清空列表
a = [1,12,2,3,5,6]
print('befor:',a)
a.clear()
print('after:',a)

befor: [1, 12, 2, 3, 5, 6]
after: []

In [5]:
# 拷贝列表
a = [1,2,3]
b= a.copy()
print(b)

[1, 2, 3]

In [6]:
# 计算元素出现的次数
a= [1,1,1,1,2,3,5,5]
print(a.count(5))

2

In [8]:
# 将另一个列表扩展
a=[1,2,3,4]
b=[7,8,9,10]
a.extend(b)
print(a)

[1, 2, 3, 4, 7, 8, 9, 10]

In [10]:
# 根据值获取当前值索引位置（左边优先，找到后就不会找下一个元素了）
li=[11,22,33,'aa','bb','cc','aa']
r1=li.index('aa')
print(r1)

3

In [11]:
#在指定索引位置的前面插入元素
a= [1,3,5,7,9]
a.insert(1,2)
a

[1, 2, 3, 5, 7, 9]

In [14]:
#删除某个值(1.指定索引；2. 默认最后一个)，并获取删除的值
a= [1,2,3,4,5,6]
a.pop()
a
b=a.copy()
b.pop(0)
b
# pop 默认删除最后一个数据，但是也可以指定索引进行删除

[2, 3, 4, 5]

In [16]:
# 删除列表中的指定值，左边优先
a=[1,2,3,4,5,8,9]
a.remove(5)
a

[1, 2, 3, 4, 8, 9]

In [17]:
# 将当前列表进行翻转
a=[1,2,3,4,5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [18]:
#列表数据进行排序
li=[11,22,33,44,55]
li.sort()
print(li)

li2=[11,22,33,44,55]
li2.sort(reverse=True)
print(li2)

[11, 22, 33, 44, 55]
[55, 44, 33, 22, 11]

In [19]:
#列表转换成字符串
li = [ "age","aa", "BB", "dd"]
v1=''.join(li)
print (v1)

li2 = [ "age","aa", "BB", "dd",10,12,13]
v3=''
for i in li2:
    v3=v3 + str(i)
print(v3)

ageaaBBdd
ageaaBBdd101213

# 列表的推倒式

In [30]:
a = [1,2,3,4,5,6,7,8,9]
b=[x for x in a if x > 5 ]
b

[6, 7, 8, 9]

# python的三目运算

In [35]:
x=3
y=4
print(x if (x>y) else y)

4